 /**
 * Navbars;
 *
 * Made By Ryan Wong
 */

 .navbar-brand img {
    max-width:100px;
 }

.avatar-img
{
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
    width: 30px;
    height: 30px;
    border: 1px solid white;
}

.post-a-job-btn {
    padding: 4px 15px !important;
    margin: 12px 15px 0 10px;
    color: #fff !important;
    background-color: #ed431f !important;
}

.post-a-job-btn:hover {
    background-color: #f05f40 !important;
}

 /**
 * Sub Navbars;
 *
 * Made By Ryan Wong
 */

.subnav {
    position: relative;
    background-color: #565a5c;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.subnav-list {
    margin-left: -14px;
    margin-right: -14px;
}

.list-layout, .subnav-list, .sidenav-list {
    margin-bottom: 0;
}

.list-layout, .subnav-list, .sidenav-list {
    margin-bottom: 0;
}

.list-unstyled, .list-layout, .subnav-list, .sidenav-list {
    padding-left: 0;
    list-style: none !important;
}

.subnav-item {
    position: relative;
    float: left;
    color: #cacccd !important;
}


.subnav-text, .subnav-item {
    padding: 10px 14px;
    color: #fff;
}

.subnav-item:hover, .subnav-item:focus, .subnav-item[aria-selected="true"] {
    text-decoration: none;
    color: #fff !important;
}

.subnav-item[aria-selected="true"]:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 14px;
    right: 14px;
    height: 4px;
    background: #cacccd;
}

.page-container-responsive {
    width: auto;
}

@media (min-width: 1100px)
.page-container-responsive {
    width: 1045px;
}

@media (min-width: 768px)
.page-container-responsive {
     width: 745px;
}

/**
 * Index: header;
 *
 * Made By Ryan Wong
 */

.header-search {
    background: #000;
    background: rgba(0,0,0,0.6);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    padding: 30px 0;
    margin-top: -115px;
    margin-bottom: 30px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.header-search button, .header-search input[type=date], .header-search input[type=text] {
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    box-shadow: none;
    border: none;
}

.header-search button {
    border-radius: 0 3px 3px 0;
}

.header-search input[type=text] {
    border-radius: 3px 0 0 3px;
    border-right: 1px solid #adadad;
}

.col-custom {
    padding: 0 !important;
}

/**
 * Index: Panels;
 *
 * Made By Ryan Wong
 */

section {
    padding: 0;
    margin-bottom: 50px;
}

.panel {
    border: none;
    margin: none;
}

.panel-header, .panel-body, ul.panel-body>li, ol.panel-body>li, .panel-footer {
  position: relative;
  padding: 30px;
}

.panel-light {
    background-color: #fff;
}

.panel-medium {
    background: #f5f5f5;
    position: relative;
    margin: 0;
    padding: 20px;
    border-top: 1px solid #dce0e0;
}

/**
 * Panels: Forms;
 *
 * Made By Ryan Wong
 */

 .panel-body form {
    margin: 30px 0;
 }

.panel-body input[type=date], .panel-body input[type=text] {
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    box-shadow: none;
}

.panel-body .btn {
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    box-shadow: none;
}

.panel-body .btn a{
    color: #fff !important;
}

/**
 * Jobs: object;
 *
 * Made By Ryan Wong
 */

.job-item {
    background-color: #fff;
    padding: 20px 10px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(180,180,180,0.5);
    margin-bottom: 30px;
}

.job-item-a {
    color: #565a5c !important;
}

.job-item-user-info img {
    padding: 4px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out
}

.job-item-name {
    font-size: 20px;
}

/**
 * Pagination
 *
 * Made By Ryan Wong
 */

 .breadcrub {
  margin-top: 40px;
  color: #ccc;
}

ul.bcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.bcrumbs li {
  float: left;
  margin-left: 20px;
}

/**
 * Jobs: detail;
 *
 * Made By Ryan Wong
 */

.pagecontainer {
  background: #fff;
  margin-top: 32px;
  border: 1px solid #eee;
  margin-bottom: 40px;
}

.details-slider {
  height: auto;
  overflow: hidden;
  border-right: 1px solid #eee;
}

.clearfix {
  float: none;
  clear: both;
}

.block {
  display: block;
}
.bold {
  font-weight: 700;
}

.line4 {
  background: #e8e8e8;
  height: 1px;
  margin: 17px 0 15px;
  padding: 0;
  display: block;
}

.bordertype1 {
  height: 115px;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  text-align: center;
  color: #999;
}

.bordertype2 {
  height: 115px;
  border-bottom: 1px solid #e7e7e7;
  text-align: center;
  color: #999;
  padding: 20px;
}

.bordertype3 {
  height: 67px;
  border-bottom: 1px solid #e7e7e7;
  text-align: center;
  color: #999;
  padding: 20px;
}

.hpadding20 {
  padding: 0 20px;
}

.padding20 {
  padding: 30px;
}

.padding30 {
  padding: 30px;
}

.size20 {
  font-size: 20px!important;
}

.lh1 {
  line-height: inherit!important;
}

.offset-0 {
  padding-left: 0;
  padding-right: 0!important;
}

.margbtm0 {
  margin-bottom: 0!important;
}

.margbtm10 {
  margin-bottom: 10px!important;
}

.margtop5 {
  margin-top: 5px!important;
}

.cs-orange-text {
  color: #f05f40;
}

.margtop20 {
  margin-top: 20px!important;
}

.line3 {
  background: #e8e8e8;
  height: 1px;
  margin: 0;
  padding: 0;
  display: block;
}

.grey {
  color: #999;
}

.opensans {
  font-family: "Open Sans";
}

 /**
 * List: headers;
 *
 * Made By Ryan Wong
 */

.list-header {
    margin: 0 -30px;
    padding: 0;
}

.list-header-title {
    margin: 0;
}

.list-header-extra {
}

 /**
 * Footer;
 *
 * Made By Ryan Wong
 */

.footer {
    background: #fff;
    border-top: solid 1px #ddd;
    padding: 30px 0;
    font-size: 12px;
    color: #4e575d;
    letter-spacing: 0.5px;
}

.footer ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}


.footer-nav li a:first-child {
    border-left: 0;
}

.footer-nav li a {
    border-left: 1px solid #ddd;
    color: #4e575d;
    font-size: 12px;
    padding: 0 10px;
    text-transform: uppercase;
}


/**
 * Dashboard: Table;
 *
 * Made By Ryan Wong
 */
 .sticky-wrap {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    margin: 3em 0;
    width: 100%;
}

 .sticky-wrap table {
  /* border-collapse: collapse; */
  margin-bottom: 3em;
  width: 100%;
  background: #fff;
  font-family: 'Lato', Arial, sans-serif;
}

 .sticky-wrap td,  .sticky-wrap th {
  padding: 0.75em 1.5em;
  text-align: left;
}

 .sticky-wrap th {
  background-color: #0079CB;
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
}

 .sticky-wrap tbody tr:nth-child(2n-1) {
  background-color: #efefef;
  transition: all .125s ease-in-out;
}

 .sticky-wrap tbody tr:hover {
  background-color: rgba(0,121,203,.3);
}

 .sticky-wrap td.user-name {
  text-transform: capitalize;
}

.sticky-wrap  a {
    text-decoration: none;
    color: #565a5c;
}

.sticky-wrap  a:hover {
    text-decoration: none;
    color: #565a5c;
}


/**
 * Search: filter box;
 *
 * Made By Ryan Wong
 */

 .search {
    margin-bottom: 30px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.search button, .header-search input[type=date], .header-search input[type=text] {
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    box-shadow: none;
    border: none;
}

.search button {
    border-radius: 0 3px 3px 0;
}

.search input[type=text] {
    border-radius: 3px 0 0 3px;
    border-right: 1px solid #adadad;
}

 .search-window {
    padding-right: 30px;
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
 }

.filter-box {
    background-color: #fff;
    padding: 20px 10px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(180,180,180,0.5);
    margin-right: 6px;
}
