option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "dayjobs.settings"
    "PYTHONPATH": "/opt/python/current/app/dayjobs:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: dayjobs/dayjobs/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
