<div ng-include src="'/static/templates/layout/navbar.html'"></div>

<div class="panel-body panel-medium">
    <div class="container">
        <div class="sticky-wrap" ng-show="vm.job_matches && vm.job_matches.length">
            <table class="sticky-enabled" style="margin: 0px; width: 100%;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in vm.job_matches">
                    <td class="user-name"><a ng-href="/users/{{ item.worker.username }}">{{ item.worker.first_name }} {{ item.worker.last_name }}</a></td>
                    <td class="user-phone">{{ item.status }}</td>
                    <td class="user-mobile">
                      <button type="button" class="btn btn-sm btn-danger" ng-if="vm.isAuthenticated" ng-click="vm.accept(item.id, item.status)">
                        Accept
                      </button>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div ng-hide="vm.job_matches && vm.job_matches.length">
            No Job Listings
        </div>
    </div>
</div>

<div ng-include src="'/static/templates/layout/footer.html'"></div>
