<div ng-include src="'/static/templates/layout/navbar.html'"></div>

<div class="panel-light panel-body">
  <div class="container breadcrub visible-lg ng-scope">
    <div>
        <div class="left">
            <ul class="bcrumbs">
                <li>Home</li>
                <li>/</li>
                <li>Jobs</li>
            </ul>
        </div>
        <a class="backbtn right ng-scope" back-action="" tooltip="Back">
            <span class="icon-back-icon1"></span>
            <span class="icon-back-icon2"></span>
        </a>
    </div>
    <div class="clearfix"></div>
    <div class="brlines"></div>
  </div>
</div>

<div class="panel-body panel-medium">
    <div class="container">
        <div ng-repeat="item in vm.jobs">
          <job job="item"></job>
        </div>
         <div class="row" ng-hide="vm.jobs && vm.jobs.length">
          <div class="col-sm-12 no-jobs-here">
            <em>The are no fresh_jobs here.</em>
          </div>
        </div>
    </div>
</div>

<div ng-include src="'/static/templates/layout/footer.html'"></div>
