<div class="footer" id="footer">
    <div class="container">
        <ul class=" pull-left navbar-link footer-nav">
            <li><a href="/"> Home </a> <a href="/about"> About us </a> <a href="/termsconditions"> Terms and Conditions </a> <a href="/privacypolicy"> Privacy Policy </a> <a href="/careers"> Careers </a> <a href="/faq"> FAQ </a>
            </li>
        </ul>
        <ul class=" pull-right navbar-link footer-nav">
            <li> © 2015 Team SEA+ </li>
        </ul>
    </div>
</div>
