<div ng-include src="'/static/templates/layout/navbar-transparent.html'"></div>

<header ng-style="{'background-image':'url(http://ironsummitmedia.github.io/startbootstrap-creative/img/header.jpg)'}">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Make your events a success by recruiting the right people on EventForce</h1>
            <hr>
            <p>EventForce is an online marketplace for event-based jobs such as brand promoters, crew members and servers.</p>
            <a href="#learnmore" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>


<div class="header-search">
    <div class="container">
        <form role="form" name="searchForm" action="/search" method="GET">
            <div class="row">
                <div class="col-md-7 col-custom">
                    <div class="form-group">
                        <input placeholder="Where do you want to work?" places-auto-complete types="['establishment']" type='text' class="form-control" name="location" />
                    </div>
                </div>

                <div class="col-md-3 col-custom">
                    <div class="form-group">
                        <input type="date" class="form-control" placeholder="Date" name="date">
                    </div>
                </div>
                <div class="col-md-2 col-custom">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<section id="freshjobs">
    <div class="container">
        <div class="row list-header">
            <div class="col-sm-6 list-header-title"><h3 class="strong">Fresh Jobs</h3></div>
            <div class="col-sm-6 list-header-extra text-right"><a href="#"><h3>see more</h3></a></div>
        </div>
        <div ng-repeat="item in vm.fresh_jobs">
          <job job="item"></job>
        </div>
         <div class="row" ng-hide="vm.fresh_jobs && vm.fresh_jobs.length">
          <div class="col-sm-12 no-fresh_jobs-here">
            <em>The are no fresh_jobs here.</em>
          </div>
        </div>
    </div>
</section>

<section id="learnmore">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How EventForce Works</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="info-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Companies post event jobs</h3>
                    <p class="text-muted">SMEs or large companies post the available positions for their events, such as brand promoters,  crew members and even waiters.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="info-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Jobseekers apply online</h3>
                    <p class="text-muted">Interested jobseekers can apply easily through the regulated EventForce platform. Companies will automatically receive profiles and relevant information of applicants.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="info-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Job is matched!</h3>
                    <p class="text-muted">Once companies decide who they want to hire, notifications will be sent to the applicants. After the job has been carried out, both companies and event worker can review each other.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div ng-include src="'/static/templates/layout/footer.html'"></div>
