<div class="subnav hide-print">
  <div class="container">
    <ul class="subnav-list">
      <li>
        <a href="/dashboard" aria-selected="true" class="subnav-item">Dashboard</a>
      </li>
      <li>
        <a href="/inbox" aria-selected="false" class="subnav-item">Inbox</a>
      </li>
      <li>
        <a href="/rooms" aria-selected="false" class="subnav-item">Your Listings</a>
      </li>
      <li>
        <a href="/trips/upcoming" aria-selected="false" class="subnav-item">Your Trips</a>
      </li>
      <li>
        <a href="/users/edit" aria-selected="false" class="subnav-item">Profile</a>
      </li>
      <li>
        <a href="/account" aria-selected="false" class="subnav-item">Account</a>
      </li>
    </ul>
  </div>
</div>
