{% load compress %}
{% load staticfiles %}

<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog-theme-default.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'lib/snackbarjs/snackbar.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/snackbar.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap-extension.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/styles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/animate.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/font-awesome/css/font-awesome.min.css' %}" />
{% endcompress %}
